* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: rgba(227, 27, 171, 0.16);
}
/* Banner */
.banner {
  background-image: url("/B9A1-New-Year-New-Mission/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 1100px;
  margin: auto;
  margin-top: 50px;
  border-radius: 16px;
  position: relative;
}
.banner-text {
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(139, 11, 103, 0.35),
    rgba(0, 0, 0, 0)
  );
  height: 500px;
  width: 100%;
  border-radius: 16px;
}

.banner-title {
  padding: 100px 400px 20px 400px;
  width: 100%;
  color: #fff;

  text-align: center;

  font-size: 32px;

  font-weight: 400;
}
.banner-header {
  width: 600px;
  margin-left: 250px;
  text-align: center;
  color: #fff;

  font-size: 72px;

  font-weight: 900;
}
/* section1 */

.section-titile {
  text-align: center;
}
.section-head {
  margin-top: 100px;
  margin-bottom: 20px;
  color: #f00;

  font-size: 88px;

  font-weight: 700;
}
.description {
  margin-bottom: 10px;
  color: #f00;

  font-size: 24px;

  font-weight: 500;
}
.another-title {
  color: #070211;

  font-size: 48px;

  font-weight: 700;
}
.section-image img {
  height: 600px;
  width: 800px;
}
.section-image {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
/* welcome section style */
.welcome-title {
  width: 600px;
  color: #fff;

  font-size: 64px;

  font-weight: 900;
}
.wecome-description {
  width: 650px;

  color: rgba(255, 255, 255, 0.8);

  font-size: 18px;

  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}
.welcome-button {
  color: #fff;

  text-align: center;

  font-size: 20px;

  font-weight: 700;

  text-transform: uppercase;
  border: none;
  padding: 5px;
  background-color: rgba(0, 0, 0, 1);
  margin-left: 20px;
}
.section2 {
  background-image: url("/B9A1-New-Year-New-Mission/Vectorrr.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  border-radius: 16px;
  height: 500px;
  width: 1100px;
  margin: auto;
  margin-top: 120px;
  position: relative;
}
.section-items {
  position: absolute;
  padding: 50px 60px 40px 100px;
  background: linear-gradient(to right, #070211, rgba(7, 2, 17, 0));
  height: 100%;
  width: 100%;
  border-radius: 16px;
}
.welcome-image {
  float: right;
  padding: 50px 30px 40px 20px;
}
.welcome-image img {
  height: 400px;
}
/* new park hotel */
.park-section {
  height: 250px;
  width: 1100px;
  margin: auto;
}
.park-hotel-section {
  text-align: center;
  margin-top: 60px;
}
.place,
.date,
.time {
  margin-bottom: 6px;
  color: #070211;

  font-size: 32px;

  font-weight: 600;

  text-transform: capitalize;
}
.place-red,
.date-red,
.time-red {
  color: #f00;

  text-align: center;

  font-size: 32px;

  font-weight: 600;

  text-transform: capitalize;
}
.park-button {
  padding: 16px;
  border-radius: 8px;
  background: #f00;
  border: none;
  color: #fff;

  text-align: center;

  font-size: 20px;

  font-weight: 700;

  text-transform: uppercase;
  margin-bottom: 10px;
}
/* new offer */
.offer-image img {
  width: 255px;
  height: 255px;
  display: flex;
  justify-content: center;
  margin: 18px;
}
.best-offer {
  display: flex;

  margin-top: 10px;
  height: 500px;
  width: 1100px;
  margin: auto;
}
.offer-title {
  color: #f00;

  font-size: 24px;

  font-weight: 500;
  margin-bottom: 10px;
}
.offer-header {
  color: #070211;

  font-size: 48px;

  font-weight: 900;

  text-transform: capitalize;
  margin-bottom: 10px;
}
.offer-description {
  width: 323px;
}
.new-offer {
  margin-right: 100px;
}
.offer-image {
  width: 300px;
  height: 300px;
  border: 5px solid red;
  border-radius: 50%;
  text-align: center;
  margin-right: 100px;
}
.new-title {
  color: #f00;

  font-size: 48px;

  font-weight: 700;
}
.new-description {
  color: rgba(7, 2, 17, 0.6);

  font-size: 20px;

  font-weight: 400;
}
.happy-new-year img {
  width: 150px;
  height: 150px;
}
/* Function section */
.function-section {
  height: 500px;
  width: 1100px;
  margin: auto;
}
.function-name {
  text-align: center;
}
.function-logo {
  display: flex;
  justify-content: space-around;
  background-image: url("/B9A1-New-Year-New-Mission/Rectangle\ 2.png");
  position: inherit;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;

  background-position: bottom;
  position: relative;
}

.function-title {
  color: #070211;

  font-size: 24px;

  font-weight: 500;
  margin-bottom: 10px;
}

.holiday-name {
  color: #f00;

  text-align: center;

  font-size: 72px;

  font-weight: 900;
}
.function-head {
  color: #070211;

  font-size: 72px;

  font-weight: 900;
}
.function-description {
  color: rgba(7, 2, 17, 0.6);

  text-align: center;

  font-size: 20px;

  font-weight: 500;
  margin-bottom: 10px;
}
.box {
  height: 500px;
  width: 500px;
}
.women {
  height: 271px;
  width: 300px;
}
.middle-image {
  position: absolute;
  margin-left: 300px;
  height: 200px;
  margin-top: 40px;
}
